<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml"/>

	<appender name="accessLog" class="ch.qos.logback.core.FileAppender">
		<file>./logs/better-dating_backend_access.log</file>
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>
	<appender name="async" class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="accessLog" />
	</appender>

	<logger name="reactor.netty.http.server.AccessLog" level="INFO" additivity="false">
		<appender-ref ref="async"/>
	</logger>
</configuration>
