body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa !important; /* was changed in the css baseline recently */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* https://github.com/mui-org/material-ui/issues/14427 */
input:-webkit-autofill {
    -webkit-transition-delay: 9999999s;
}
